<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Imoveis</span>
        <span class="nav-spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>
<div class="div-container">
    <div [formGroup]="formGroup">
        <mat-form-field class="form-campo">
            <input matInput placeholder="Filtrar por Territorio" [matAutocomplete]="auto2" formControlName='territorio'
                (blur)="checarSelecaoTerritorio()">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="formatarExibicaoTerritorio" (optionSelected)="selecionarTerritorio($event)">
                <mat-option *ngIf="carregandoPesquisaTerritorio" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!carregandoPesquisaTerritorio">
                    <mat-option *ngFor="let territorio of (resultadoPesquisaTerritorio)" [value]="territorio">
                        <span>{{ territorio.nome }} </span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field  class="form-campo">
            <input matInput [ngModel]="filtro" [ngModelOptions]="{standalone: true}" (keyup)="aoDigitarFiltroTabela($event.target.value)" placeholder="Filtrar pelo nome...">
        </mat-form-field>
       
    </div>
    <div class="linha-botoes">
        <button mat-raised-button color="primary" [disabled]="!territorioSelecionada?.id && (filtro.length <= tamanhoMinimoTextoFiltro)" (click)="aplicarFiltroTabela()">Filtrar</button>
        <button mat-raised-button color="default" *ngIf="territorioSelecionada?.id || (filtro.length > tamanhoMinimoTextoFiltro)" (click)="limparFiltroTabela()">
            Limpar Filtro
        </button>
    </div>

    <!-- Tabela -->
    
    <button class="fab" mat-fab color="primary" routerLink="/imovel-criar">
        <mat-icon>add</mat-icon>
    </button>
    <table style="margin-top:20px;" mat-table [dataSource]="dadosTabela" class="tabela" matSort matSortActive="created" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="logradouro">
            <th mat-header-cell *matHeaderCellDef>Logradouro</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/imovel-editar/{{item.id}}">{{item.logradouro}}</a></td>
        </ng-container>
        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef>Numero</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/imovel-editar/{{item.id}}">{{item.numero}}</a></td>
        </ng-container>

        <ng-container matColumnDef="tipoImovel">
            <th mat-header-cell *matHeaderCellDef>Tipo do Imóvel</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/imovel-editar/{{item.id}}">{{item.tipoImovel.nome}}</a></td>
        </ng-container>
        <ng-container matColumnDef="territorio">
            <th mat-header-cell *matHeaderCellDef>Territorio</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/imovel-editar/{{item.id}}">{{item.territorio.nome}}</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
        <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
    </table>
    <div style="background-color: white" class="loading-shade" *ngIf="carregandoResultados">
        <mat-spinner></mat-spinner>
    </div>
    <div style="background-color: white; padding: 20px" *ngIf="!carregandoResultados && quantidadeRegistros == 0">
        Nenhum registro carregado.
    </div>
    <mat-paginator [length]="quantidadeRegistros" [pageSize]="5" [pageSizeOptions]="[5, 10, 30]"></mat-paginator>
</div>