<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Imovel - Criar</span>
    </mat-toolbar-row>
</mat-toolbar>


<form [formGroup]="formGroup" style="height: 100%"  (ngSubmit)="formGroup.valid && salvar()" novalidate>

    <app-imovel-form style="height: 100%" [criando]="true" [formGroup]="formGroup"></app-imovel-form>

</form>