<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Lista de Trabalho - Criar</span>
    </mat-toolbar-row>
</mat-toolbar>


<form [formGroup]="formGroup" class="form" (ngSubmit)="formGroup.valid && salvar()" novalidate>

    <app-lista-de-trabalho-form [formGroup]="formGroup" ></app-lista-de-trabalho-form>

    <div class="linha-botoes">
        <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Criar</button>
        <button type="button" mat-raised-button routerLink="/listas-de-trabalho">Cancelar</button>
    </div>

</form>