<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Lista de Trabalho - Editar</span>
        <span class="nav-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="Dados Basicos">
        <div >
            <form [formGroup]="formGroup" class="form" (ngSubmit)="formGroup.valid && atualizar()" novalidate>

                <app-lista-de-trabalho-form  [formGroup]="formGroup"></app-lista-de-trabalho-form>
    
                <div class="linha-botoes">
                    <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Atualizar</button>                
                    <button type="button" mat-raised-button color="warn" (click)="excluir()">Excluir</button>
                    <button type="button" mat-raised-button routerLink="/listas-de-trabalho">Cancelar</button>
                </div>
            </form>
        
        </div>
            
    </mat-tab>
    <mat-tab label="Imóveis">
        <div style="margin : 15px">
            <app-lista-de-trabalho-imoveis [listaDeTrabalho]="lista" *ngIf="lista.id"></app-lista-de-trabalho-imoveis>
        </div>
    </mat-tab>
    
</mat-tab-group>