<div [formGroup]="formGroup">

    <mat-form-field class="form-campo">
        <input matInput placeholder="Imóveis" [matAutocomplete]="auto2" formControlName='imovel' (blur)="checarSelecaoImovel()">
        <button type="button" matSuffix mat-icon-button>
                <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnImovel" (optionSelected)="selecionarImovel($event)">
            <mat-option *ngIf="isLoadingImovel" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoadingImovel">
                <mat-option *ngFor="let imovel of (imoveisFiltrados)" [value]="imovel">
                    <span>{{ imovel.logradouro }} , {{imovel.numero}} </span>
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div class="linha-botoes">
    <button mat-raised-button color="primary" [disabled]="imovelSelecionado === null || imovelSelecionado === undefined" (click)="adicionarImovelALista()">Adicionar</button>
</div>
<!-- Tabela -->
<div class="tabela-container" style="margin-top:20px">
    <table mat-table [dataSource]="dataSource" class="tabela">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectionModel.hasValue() && todosElementosEstaoSelecionados()"
                    [indeterminate]="selectionModel.hasValue() && !todosElementosEstaoSelecionados()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionModel.toggle(row) : null"
                    [checked]="selectionModel.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="logradouro">
            <th mat-header-cell *matHeaderCellDef> Logradouro </th>
            <td mat-cell *matCellDef="let element"> {{element.imovel.logradouro}}, {{element.imovel.numero}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectionModel.toggle(row)">
        </tr>
    </table>
</div>
<div style="background-color: white; padding: 20px" *ngIf="dataSource.data.length == 0">
    Nenhum registro carregado.
</div>
<div class="linha-botoes">
    <button mat-raised-button color="warn" [disabled]="!selectionModel.hasValue() " (click)="removerImovelDaLista()">Remover</button>
</div>

<div class="linha-botoes">
    <button type="button" mat-raised-button color="primary" (click)="concluir()" >Concluir</button>
    <button type="button" mat-raised-button routerLink="/listas-de-trabalho">Cancelar</button>
</div>
