
<mat-grid-list cols="3" style="height: 100%" rowHeight="fit">
    <mat-grid-tile >
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <table style="padding:10px; padding-bottom: 0px;" mat-table [dataSource]="dadosTabela" class="tabela"
         >
  
          <ng-container matColumnDef="territorio">
              <th mat-header-cell *matHeaderCellDef>Territorios </th>
              <td mat-cell *matCellDef="let item"></td>
          </ng-container>
          
  
          <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
          <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
      </table>      
          <mat-tree class="tree" #tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node class="borda"  *matTreeNodeDef="let node"  matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selecionar(node) : null"
                    [checked]="selectionModel.isSelected(node)">
                  </mat-checkbox>
                  {{node.elemento.nome}}{{(node.elemento.logradouro) ? (node.elemento.logradouro + ','+ node.elemento.numero) : '' }}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node class="borda" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.elemento.nome + node.elemento.logradouro + node.elemento.numero">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button> 
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selecionar(node) : null"
                [checked]="selectionModel.isSelected(node)">
                </mat-checkbox>
                  {{node.elemento.nome}}{{(node.elemento.logradouro) ? (node.elemento.logradouro + ','+ node.elemento.numero) : '' }}
                </mat-tree-node>
              </mat-tree>
        </cdk-virtual-scroll-viewport>

    </mat-grid-tile>
    <mat-grid-tile class="mapa" [colspan]="2">
        <app-mapa-dinamico #mapa 
            [polygonRelatedIn]="irmaos"
            [polygonParentIn]="territorios"
            [selecionado]="selecionado"
            (selected)="aoSelecionarNoMapa($event)"
            id="mapaDinamico">
        </app-mapa-dinamico>
    </mat-grid-tile>
</mat-grid-list>

<div class="estatico">

<div  *ngIf="mostrarPopup" class="example-box" cdkDrag style="margin-left: -300px; min-width: 300px;">
  <button mat-icon-button class="botao-fechar-popup" (click)="fecharPopup()"><mat-icon>close</mat-icon></button>
  <app-dado-selecionado [dado]="dado | async" [item]="item | async" #dadoselecionado></app-dado-selecionado>
 </div>
</div>


