<mat-grid-list cols="3" style="height: 100%" rowHeight="fit">
    <mat-grid-tile >
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <div [formGroup]="formGroup" class="form">
                        <mat-form-field class="form-campo" style="display: block">
                            <input matInput placeholder="Codigo" formControlName="codigo" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                                <input matInput placeholder="Fonte de Dado" [matAutocomplete]="auto3" formControlName='fonteDado'
                                    (blur)="checarSelecaoFonteDado()" required>
                                    <button type="button" matSuffix mat-icon-button>
                                            <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnFonteDado"
                                    (optionSelected)="selecionarFonteDado($event)">
                                    <mat-option *ngIf="isLoadingFonteDado" class="is-loading">
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </mat-option>
                                    <ng-container *ngIf="!isLoadingFonteDado">
                                        <mat-option *ngFor="let fonteDado of (fonteDadosFiltrados)" [value]="fonteDado">
                                            <span>{{ fonteDado.descricao }}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        <mat-form-field class="form-campo" style="display: block">
                            <input matInput placeholder="Nome" formControlName="nome" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo" style="display: block">
                            <input matInput placeholder="Sigla" formControlName="sigla">
                           
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Categoria" [matAutocomplete]="auto2" formControlName='categoria'
                                (blur)="checarSelecaoCategoria()" required>
                                <button matSuffix mat-icon-button>
                                        <mat-icon>arrow_drop_down</mat-icon>
                                </button>
                            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnCategoria"
                                (optionSelected)="selecionarCategoria($event)">
                                <mat-option *ngIf="isLoadingCategoria" class="is-loading">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoadingCategoria">
                                    <mat-option *ngFor="let categoria of (categoriasFiltrados)" [value]="categoria">
                                        <span>{{ categoria.nome }}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Selecione uma Territorio Superior" [matAutocomplete]="auto1"
                                formControlName='territorioPai' (blur)="checarSelecaoTerritorioPai()">
                                <button matSuffix mat-icon-button>
                                        <mat-icon>arrow_drop_down</mat-icon>
                                </button>
                            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="formatarExibicaoTerritorioPai"
                                (optionSelected)="selecionarTerritorioPai($event)">
                                <mat-option *ngIf="carregandoPesquisaTerritorioPai" class="is-loading">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!carregandoPesquisaTerritorioPai">
                                    <mat-option *ngFor="let territorio of (resultadoPesquisaTerritorioPai)" [value]="territorio">
                                        <span>{{ territorio.nome }}</span>
            
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Zona" formControlName="zona" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="croqui" formControlName="croqui">
                            
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="CEP" formControlName="cep" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Altitude" formControlName="altitude" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Polígono" formControlName="poligono" [readonly]="true" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <button mat-raised-button type="button" (click)="criarPoligono()">Criar Polígono</button>
            
                        <div class="linha-botoes">
                            <button mat-raised-button color="primary"
                                [disabled]="!formGroup.valid">{{criando ? 'Criar' : 'Alterar'}}</button>
                            <button type="button" *ngIf="!criando" mat-raised-button color="warn"
                                (click)="excluir.emit('excluir')">Excluir</button>
                            <button type="button" mat-raised-button color="warn" routerLink="/territorios">{{criando ? 'Voltar' : 'Cancelar'}}</button>
                        </div>
                    </div>
        </cdk-virtual-scroll-viewport>

    </mat-grid-tile>
    <mat-grid-tile class="mapa" [colspan]="2">
        <app-mapa-dinamico #mapa (polygonOut)="tratarPoligonoCriado($event)"
            [polygonRelatedIn]="territoriosIrmaos"
            [polygonParentIn]="territorioPai"
            [NamePolygonIn]="this.formGroup.controls['nome'].value"
            [polygonIn]="this.formGroup.controls['poligono'].value" id="mapaDinamico">
        </app-mapa-dinamico>
    </mat-grid-tile>
</mat-grid-list>