<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Territorio - Editar</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="loading-shade" *ngIf="!territorio?.id">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formGroup" style="height: 100%" (ngSubmit)="formGroup.valid && atualizar()" novalidate>

    <app-territorio-form *ngIf="territorio?.id" (excluir)="excluir()" [criando]="false" [formGroup]="formGroup"></app-territorio-form>

</form>