mat-grid-tile {
    display: block !important;
  }


  .mapa >::ng-deep .mat-figure{
    display: block;
    top:2px;
    left: 2px;
  }
  
  .example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }