<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle();isExpanded = !isExpanded" >
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"><a href='http://www.rgaedes.site' style="color:white">RGaedes</a></h1>
    <span class="nav-spacer"></span>
    
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav  #sidenav class="example-sidenav" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()" fixedInViewport="false"
        [attr.recurso]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="over"
        [opened]="true">
        <mat-nav-list>
            <a mat-list-item routerLink="territorios">
                Territorios
            </a>
            <a mat-list-item routerLink="imoveis" class="parent">
                Imoveis
            </a>
            <a mat-list-item routerLink="listas-de-trabalho" >
                Listas de Trabalho
            </a>

            <a mat-list-item routerLink="consolidacao-por-lista-listar">
                Consolidar por Lista de Trabalho
            </a>
            <a mat-list-item routerLink="consolidacao-por-territorio-listar">
                Consolidar por Território
            </a>
            <a mat-list-item routerLink="monitoramento">
                Monitoramento
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

</mat-sidenav-container>