<h2 mat-dialog-title>{{ data.titulo }}</h2>
<mat-dialog-content>{{ data.conteudo }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Não</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Sim</button>
</mat-dialog-actions>
