mat-grid-tile {
    display: block !important;
  }


  .mapa >::ng-deep .mat-figure{
    display: block;
    top:2px;
    left: 2px;
  }
  
  .example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }

  td :hover { 
    background: #777;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }